* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 14px;
  line-height: 1.43;
  color: #29303b;
  background-color: #fff; }

.header .header__detail {
  display: flex;
  justify-content: space-between;
  background-color: #007cc0; }
  .header .header__detail .header-honda-logo img {
    margin-left: 40px;
    margin-top: 3px; }
  .header .header__detail .nav-detail li {
    padding: 0 15px; }
  .header .header__detail .nav-detail li:hover {
    background-color: #fff; }
    .header .header__detail .nav-detail li:hover a {
      color: #00446b; }
  .header .header__detail .nav-detail a {
    color: #fff;
    margin-top: 7px; }

.my-carousel .carousel-caption {
  bottom: 50px; }

.my-carousel .carousel-indicators {
  bottom: 2px; }
  .my-carousel .carousel-indicators li {
    width: 11px;
    height: 11px;
    background: transparent;
    border: 1.5px solid white;
    border-radius: 50%; }
  .my-carousel .carousel-indicators li.active {
    background: #e42525; }

.my-carousel .carousel-inner .carousel-caption .h3--color--blue {
  color: #00324f; }

.my-carousel .carousel-inner .carousel-caption .h3--color--white {
  color: #fff; }

.honda__news .news__detail {
  background: url(../../img/CRV-Homepage-1400-T3-2x.webp) no-repeat center center;
  background-size: cover;
  height: 370px;
  margin: 20px 15px;
  padding-top: 200px;
  padding-left: 20px;
  padding-right: 20px; }
  .honda__news .news__detail h5,
  .honda__news .news__detail p {
    color: #00324f; }

.honda__news .new__detail__kbb {
  background: url(../../img/Autos-Homepage-Flex-KBB-1400-2x.webp) no-repeat center center;
  background-size: cover;
  height: 370px;
  margin: 20px 15px;
  padding-top: 150px;
  padding-left: 20px;
  padding-right: 450px; }

.our-vehicles .nav-tabs .nav-item.show .nav-link,
.our-vehicles .nav-tabs .nav-link.active,
.our-vehicles .nav-tabs .nav-item:hover .nav-link {
  border: white; }

.our-vehicles .nav-tabs .nav-link.line:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 160px;
  height: 4px;
  left: 0;
  bottom: -290px;
  background: #2198dc; }

.our-vehicles .tab-content .car__vehicles {
  position: relative; }
  .our-vehicles .tab-content .car__vehicles img {
    position: relative; }
  .our-vehicles .tab-content .car__vehicles .vehicles__content {
    position: absolute;
    top: 20%;
    right: 68%;
    left: 8%; }
    .our-vehicles .tab-content .car__vehicles .vehicles__content p {
      margin-top: 18px; }
    .our-vehicles .tab-content .car__vehicles .vehicles__content svg {
      width: 90%; }
    .our-vehicles .tab-content .car__vehicles .vehicles__content .price {
      display: flex;
      justify-content: space-between; }
      .our-vehicles .tab-content .car__vehicles .vehicles__content .price .star p,
      .our-vehicles .tab-content .car__vehicles .vehicles__content .price .hwy p {
        font-size: 40px;
        margin-bottom: 0; }
    .our-vehicles .tab-content .car__vehicles .vehicles__content .hr-primary {
      border-top: 3px solid #415d76;
      width: 170%; }
    .our-vehicles .tab-content .car__vehicles .vehicles__content .vehicles__bottom img {
      bottom: 50px;
      left: 75%;
      width: 280px;
      height: 70px; }
    .our-vehicles .tab-content .car__vehicles .vehicles__content .vehicles__bottom p {
      margin-bottom: 0px;
      margin-top: 40px; }
  .our-vehicles .tab-content .car__vehicles h1,
  .our-vehicles .tab-content .car__vehicles p,
  .our-vehicles .tab-content .car__vehicles .price {
    color: white; }
  .our-vehicles .tab-content .car__vehicles .ex--b {
    padding-top: 30px; }

.btn--learnmore {
  color: #fff;
  background-color: #e42525;
  border: 2px solid #e42525;
  border-radius: 30px;
  padding: 5px 20px; }
  .btn--learnmore:hover {
    color: #e42525;
    background-color: #fff;
    border: 2px solid #e42525; }

.btn--news1 {
  color: #fff;
  background-color: #2198dc;
  border: 2px solid #2198dc;
  border-radius: 30px;
  padding: 5px 20px; }
  .btn--news1:hover {
    color: #2298dc;
    background-color: transparent;
    border: 2px solid #2298dc; }

.btn--news2 {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 5px 20px; }
  .btn--news2:hover {
    color: #2298dc;
    background-color: #fff;
    border: 2px solid #2298dc; }

.btn--ex {
  color: #fff;
  background-color: #e42525;
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 5px 20px; }
  .btn--ex:hover {
    color: #e42525;
    background-color: #fff;
    border: 2px solid #fff; }

.btn--bu {
  color: #e42525;
  background-color: #fff;
  border: 2px solid #e42525;
  border-radius: 30px;
  padding: 5px 20px; }
  .btn--bu:hover {
    color: #fff;
    background-color: #e42525;
    border: 2px solid #e42525; }
