$color-black-0: #29303b;
$color-white-0: #fff;
$color-blue-0: #007cc0; //header-color
$color-blue-1: #00446b; //header-text-color
$color-blue-2: #2198dc;
$color-blue-3: #06456a;
$color-blue-4: #00324f;
$color-blue-5: #2790ca;
$color-blue-6: #208bc9;
$color-blue-7: #2298dc;
$color-blue-8: #23527c;
$color-gray-0: #3f657a;
$color-red-0: #e42525;

// variable font-size
$fs-0: 12px;
$fs-1: 14px; //default
$fs-2: 16px;
$fs-3: 20px;
$fs-4: 24px;
$fs-5: 44px;
// variable margin
// variable border-radius
// variable padding
// variable line-height
$line-height-0: 1.43;
// variable font-weight
// bread points
