.header {
    .header__detail {
        display: flex;
        justify-content: space-between;
        background-color: $color-header;

        .header-honda-logo {
            img {
                margin-left: 40px;
                margin-top: 3px;
            }
        }

        .nav-detail {
            li {
                padding: 0 15px;
            }

            li:hover {
                background-color: $color-white-0;

                a {
                    color: $color-header-text;
                }
            }

            a {
                color: $color-white-0;
                margin-top: 7px;
            }
        }
    }
}