.our-vehicles {
    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active,
    .nav-tabs .nav-item:hover .nav-link {
        border: white;
    }

    .nav-tabs .nav-link.line:after {
        content: "";
        position: absolute;
        display: inline-block;
        width: 160px;
        height: 4px;
        left: 0;
        bottom: -290px;
        background: $color-blue-2;
        // transition: all 0.5s;
    }

    .tab-content .car__vehicles {
        position: relative;

        img {
            position: relative;
        }

        .vehicles__content {
            position: absolute;
            top: 25%;
            right: 68%;
            left: 8%;

            .price {
                display: flex;
                justify-content: space-between;

                .star,
                .hwy {
                    p {
                        font-size: 40px;
                        margin-bottom: 0;
                    }
                }
            }
        }

        h1,
        p,
        .price {
            color: white;
        }

        .ex--b {
            padding-top: 30px;
        }
    }
}
