// variable color
$color-black-0: #29303b;
$color-white-0: #fff;
$color-header: #007cc0; //header-color
$color-header-text: #00446b; //header-text-color
$color-new: #00324f; //new-color
$color-button-carousel: #007aff; //button-carousel-color
$color-h1-our-vehicles:#06456a;
$color-item-our-vehicles-hover: #2198dc;
$color-red: #ff4040;
// variable font-size
$fs-0: 12px;
$fs-1: 14px; //default
$fs-2: 16px;
$fs-3: 20px;
$fs-4: 24px;
$fs-5: 44px;
// variable margin
// variable border-radius
// variable padding
// variable line-height
// variable font-weight
// bread points